doctype html
html
  include includes/header.pug
  title Segen des Tages DD.MM.JJJJ
  body
    include includes/share.pug
    .container
      nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            a.navbar-brand(href='#')
              img(alt='Brand', src='images/apple-touch-icon.png', style='width:72px;')
              span.title About This
      h1 About This
      // - TODO: Text
      include includes/footer.pug